html{



}

body {
    background-image: url("mobo.jpg");
    background-position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;


}
div h3 {
    margin-top: 1em;
    margin-bottom:1em;
    border-radius: 100%;
    background-image: url("bluedots.jpg");
    font-size: 1.3em;
    text-align: center;
    text-shadow: 2px 2px 15px Blue, -2px -2px 15px Blue;
    color: Silver;
    font-family: 'Arial Black';
    min-height: 5%;
    max-height: 5%;
    min-width: 18%;
    max-width: 18%;
}
div p {

    display: block;
    float: left;
    padding: 0px;
    border-radius: 0%;
    background-color: rgba(56, 56, 56, .95);
    font-size: 1.75em;
    text-shadow: 1px 1px 3px rgba(138, 043, 226, 1), -1px -1px 3px rgba(138, 043, 226, 1);
    color: rgba(240, 240, 240, 1);
}
h6 {
    float: right;
    clear: left;
    display: inline;
    font-family: Trebuchet;
    color: Red;
}
#2th {
    align: left;
    background-color: rgba(56, 56, 56, .75);
}
#plea {
    font-size: 1.45em;
    color: Silver;
    background-color: rgba(56, 56, 56, .85);
    font-family: Trebuchet;
    text-shadow: 1px 1px 10px rgba(000, 000, 000, 1), -1px -1px 5px rgba(000, 000, 000, 1);
}
#p {
    min-width: 99%;
    max-width: 99%;
    overflow-style: line;
    marquee-style: scroll;
    marquee-speed: 500;
    font-size: 1.95em;
    text-shadow: 2px 2px 15px Blue, -2px -2px 15px Blue;
    color: Silver;
    font-family: Impact;
}
h5 {
    font-size: 1.8em;
    text-align: center;
    text-shadow: 2px 2px 5px Blue, -2px -2px 5px Blue;
    color: Silver;
    font-family: 'Arial Black';
    min-width: 20%;
    max-width: 20%;
}
#pc {
    float: right;
}
#logo{
            float: right;
            background_color: Yellow;

}
#logo img {
                    padding-right: 70%;
                    float: right;
                    max-width: 100%;
                    min-width: 100%;
                    }

#menu{

    max-width: 50%;
    min-width: 50%;

}
