body{
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/f/f3/Hubble_Ultra_Deep_Field_part_d.jpg");
	background-color: #008f00;
	color: Yellow;
	font-family: Trebuchet MS;
	}
h1	{
	background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSUpMb2e7VSqfJuvvFcEk3wt-VX_jXOj1Xivxi5LQZsU1Se5MZWPQ");

	margin:  5px;
	padding: 20px;
	outline-width: 5px;
	outline-style: double;
	outline-color: Black;
	text-align: center;
	text-shadow: 9px 9px 10px Red, -9px -9px 10px Red,11px 11px 10px Orange, -11px -11px 10px Orange, 13px 13px 10px Yellow, -13px -13px 10px Yellow, 15px 15px 10px Green, -15px -15px 10px Green, 17px 17px 10px Blue, -17px -17px 10px Blue, 19px 19px 10px Indigo, -19px -19px 10px Indigo, 21px 21px 10px Violet, -21px -21px 10px Violet;
	}
div {
	color: Green;
	float: left;
	clear: left;
	
	text-align: center;
	border-radius: 100%;
	
	font-size: 14;
	color: Yellow;
	background-color: Blue;
	}
img {
	margin: 5px;
	float: right;
	width: 30%;
	height: 30%;
	box-shadow: 7px 7px 10px Black;
	}
#two{
	width: 43%;
	height: 43%;
	}
.primary
	{
	border-radius: 0;
	margin: 5px;
	background-color: Grey;
	float:left;
	width: 22%;
	height: 15%;
	}
.secondary 
	{
	margin: 3px;
	height: 13%;
	width: 23%;
	}
.tertiary
	{
	color: Orange;
	border-radius: 0;	
	width: 100%;
	height: 17%;
	background-color: Transparent;
	}
#clicks
	{
	float: right;
	clear: right;
	width: 55%;
	height: 17%;
	background-color: Transparent;
	}

unused
	{

	-7px -7px 10px Black
	box-shadow: 7px 7px 10px Black;
	text-shadow: 7px 7px 10px Black, -7px -7px 10px Black;
	}

